body {
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 0px;
  line-height: normal;
  color: #7b7b7b;
  font-weight: normal;
  text-transform: uppercase;
  background: #f2f2f2;
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"), url("../fonts/symbols-sedona.woff2") format("woff2");
}
[class^="icon-"]::before, [class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}
.icon-facebook::before {
  content: "\66";
}

/* "f" */

.icon-twitter::before {
  content: "\74";
}

/* "t" */

.icon-up-dir::before {
  content: "\25b2";
}

/* "▲" */

.icon-down-dir::before {
  content: "\25bc";
}

/* "▼" */

.icon-star::before {
  content: "\2605";
}

/* "★" */

.icon-check-off::before {
  content: "\2610";
}

/* "☐" */

.icon-check-on::before {
  content: "\2611";
}

/* "☑" */

.icon-calendar::before {
  content: "\e800";
}

/* "" */

.icon-plus::before {
  content: "\e801";
}

/* "" */

.icon-minus::before {
  content: "\e802";
}

/* "" */

.icon-youtube::before {
  content: "\f39e";
}

/* "" */

p, li, span {
  font-size: 14px;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color: #81b3d2;
}
a:active {
  color: black;
  opacity: 0.3;
}
h1, h2 {
  font-size: 21px;
  color: black;
  font-weight: bold;
}
h3 {
  font-size: 30px;
  color: black;
  font-weight: bold;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background: white;
  box-shadow: 0px 0 15px 0 rgba(0, 0, 0, 0.2);
}
header {
  position: relative;
}
.main-menu {
  padding: 15px 0;
  list-style-type: none;
  font-weight: bold;
}
.main-menu li {
  width: 240px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  line-height: 26px;
}
.main-menu li:nth-child(1), .main-menu li:nth-child(2) {
  padding-left: 72px;
}
.main-menu li:nth-child(2) {
  margin-right: 240px;
}
.main-menu li:nth-child(3), .main-menu li:nth-child(4) {
  padding-right: 72px;
  text-align: right;
}
.main-menu-active {
  color: #766357;
}
.main-menu-active:visited {
  color: #766357;
}
.main-menu-active:active {
  color: #766357;
  opacity: 0.3;
}
.main-menu-active:hover {
  color: #604e43;
}
.logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -69px;
}
.logo a:active {
  opacity: 1;
}

/* Главная страница */

.image-block {
  background: #ddebf4 url('../img/background-index.jpg') no-repeat;
  padding-top: 77px;
  text-align: center;
}
.image-block-logo {
  margin-bottom: 23px;
}
.text-block {
  padding: 0 330px;
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
}
.text-block h1 {
  margin: 0;
  margin-bottom: 25px;
  line-height: 26px;
}
.text-block p {
  margin: 0;
  line-height: 26px;
}
.reason-item {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  color: white;
  text-align: center;
  padding: 55px 45px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.reason-item h2 {
  color: white;
  margin-top: 0;
  line-height: 21px;
  margin-bottom: 25px;
}
.reason-item p {
  margin-top: 25px;
  margin-bottom: 0;
  line-height: 21px;
}
.reason-blue {
  background: #81b3d2;
}
.reason-img {
  width: 800px;
  display: inline-block;
  vertical-align: top;
}
.reason-img img {
  width: 800px;
  height: 256px;
}
.reasons {
  background: #eeeeee;
}
.reason-gray {
  color: black;
  padding: 0 90px;
  padding-top: 46px;
  padding-bottom: 60px;
}
.reason-gray h2 {
  margin: 0;
  color: black;
  margin-bottom: 26px;
}
.reason-gray p {
  margin-bottom: 0;
}
.features-item {
  width: 400px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0 72px;
  padding-top: 60px;
  padding-bottom: 83px;
  box-sizing: border-box;
}
.features-item:nth-child(3) {
  padding-top: 56px;
}
.features-item img {
  margin-bottom: 27px;
}
.features-item h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.features-item p {
  margin: 0;
  line-height: 21px;
}
.form-title {
  margin: 0 auto;
  padding: 0 316px;
  padding-top: 45px;
  text-align: center;
}
.form-title h3 {
  margin-top: 0;
  margin-bottom: 22px;
}
.form-title p {
  margin: 0;
  margin-bottom: 42px;
  line-height: 24px;
}
.form-title-link {
  background: #766357;
  height: 87px;
  padding: 30px 0;
  box-sizing: border-box;
}
.form-title-link a {
  color: white;
  font-weight: bold;
  font-size: 21px;
  margin: 30px 0;
}
.form-title-link a:active {
  opacity: 1;
}
.map {
  background: url('../img/map.png');
  padding-bottom: 78px;
}

/* Форма */

.search-form {
  background: white;
  width: 568px;
  margin: 0 auto;
  padding: 55px;
  box-sizing: border-box;
  box-shadow: 0px 0 15px 0 rgba(0, 0, 0, 0.2);
}
.left-column {
  display: inline-block;
  vertical-align: middle;
  width: 113px;
  margin-bottom: 30px;
}
.right-column {
  display: inline-block;
  vertical-align: middle;
  width: 345px;
  margin-bottom: 30px;
}
.right-column input {
  position: relative;
}
.right-column-icon {
  font-size: 21px;
  line-height: 38px;
  color: #c2c2c2;
  position: absolute;
  margin-left: -35px;
  cursor: pointer;
}
.narrow-column {
  display: inline-block;
  vertical-align: top;
  width: 116px;
}
.search-form label {
  font-size: 14px;
  color: black;
  line-height: 26px;
  font-weight: bold;
  display: block;
  padding: 6px 0;
}
.search-form input {
  font-size: 14px;
  color: black;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  background: #f2f2f2;
  width: 100%;
  height: 38px;
  padding-left: 15px;
  box-sizing: border-box;
}
.narrow-column input {
  text-align: center;
  padding: 0;
}
.search-form input:hover, .narrow-column input:hover {
  background: #ebebeb;
}
.search-form input:active, .narrow-column input:active, .search-form input:focus, .narrow-column input:focus {
  background: white;
  outline: 2px solid #e5e5e5;
}
.search-form .short-input {
  width: 38px;
}
.column-children {
  padding-left: 50px;
  box-sizing: border-box;
}
.btn-remove, .btn-add {
  display: inline-block;
  vertical-align: top;
  border: 0;
  background: #f2f2f2;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.btn-add-icon {
  font-size: 14px;
  line-height: 38px;
  color: #a9a9a9;
}
.btn-search-form {
  background: #81b3d2;
  border: 0;
  color: white;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  height: 58px;
  margin-top: 25px;
}
.btn-search-form:hover {
  background: #669ec0;
}
.btn-search-form:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/* Футер */

.footer-hashtag, .footer-social, .footer-copyright {
  width: 400px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 36px 0;
}
.footer-hashtag a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  font-size: 0;
  position: relative;
  background-color: #81b3d2;
  text-align: center;
}
.social-btn:last-child {
  margin-right: 0;
}
.social-btn span {
  font-size: 19px;
  line-height: 48px;
  color: white;
}
.social-btn:hover {
  background: #669ec0;
}
.social-btn:active {
  opacity: 1;
}
.social-btn:active span {
  color: rgba(255, 255, 255, 0.3);
}
.footer-copyright span {
  display: inline-block;
  vertical-align: middle;
  line-height: 26px;
}
.footer-copyright a:visited {
  color: black;
}
.footer-copyright a:active {
  color: black;
  opacity: 1;
}
.footer-copyright a:hover {
  color: black;
}
.copyright-sprite {
  width: 113px;
  height: 40px;
  background: url('../img/htmlacadmy-logo.png') no-repeat;
  margin-left: 8px;
}
.copyright-sprite:hover {
  background-position: 0 -48px;
}
.copyright-sprite:active {
  background-position: 0 -95px;
}

/* Гостиницы */

.selection {
  background: url('../img/background-hotels.png') #766357 no-repeat;
  padding: 27px 72px;
  padding-bottom: 6px;
  color: white;
}
.selection h2 {
  color: white;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 21px;
}
.check {
  width: 255px;
  display: inline-block;
  vertical-align: top;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 25px;
  line-height: 21px;
  cursor: pointer;
  padding-left: 40px;
  padding-right: 50px;
  position: relative;
}
input[type="checkbox"] + label::before {
  content: "\2610";
  font-size: 26px;
  line-height: 20px;
  font-family: "symbols-sedona";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
}
input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

/* Слайдер */

.cost {
  width: 546px;
  padding-left: 220px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.cost h2 {
  line-height: 21px;
  margin-bottom: 11px;
}
.price-control {
  font-size: 0;
  height: 34px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  position: relative;
  margin-left: 10px;
  box-sizing: border-box;
}
.price-control::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.price-control label {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  line-height: 29px;
}
.price-control .min-range, .price-control .max-range {
  width: 90px;
  padding-left: 65px;
}
.price-control input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
.range {
  position: relative;
  margin-bottom: 32px;
  margin-left: 10px;
}
.range .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  position: absolute;
  top: -9px;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.range-toggle:hover {
  background: #1c4f80;
}
.btn-filter {
  display: block;
  background: none;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 6px 34px;
  margin: 0 auto;
  cursor: pointer;
}
.btn-filter:hover {
  color: #000000;
  background: #ffffff;
}

/* Сортировка */

.control {
  padding: 8px 72px;
  border-bottom: 1px solid #e5e5e5;
}
.control-found {
  width: 165px;
  display: inline-block;
  vertical-align: middle;
}
.control-found h3 {
  font-size: 21px;
}
.control-sorting {
  width: 780px;
  color: black;
  display: inline-block;
  vertical-align: middle;
}
.control-sorting span {
  font-size: 12px;
  display: inline-block;
  line-height: 18px;
}
.sorting {
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
.sorting li {
  font-size: 12px;
  margin-left: 40px;
  display: inline;
}
.sorting a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}
.sorting a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}
.sorting a:active {
  color: black;
  opacity: 1;
  border-bottom: 0;
}
li .control-active, li .control-active:hover, li .control-active:active {
  color: #81b3d2;
  opacity: 1;
  border-bottom: 0;
}
.control-order {
  width: 110px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  list-style-type: none;
  text-align: right;
}
.control-order li {
  display: inline-block;
}
.control-order span {
  font-size: 23px;
  line-height: 20px;
  cursor: pointer;
  position: relative;
}
.icon-up-dir {
  left: 20px;
}
.icon-down-dir {
  color: #81b3d2;
  left: 10px;
}
.control-order span:hover {
  color: black;
}
.control-order span:active {
  color: #81b3d2;
}
.control-order .control-order-active:hover {
  color: #81b3d2;
}

/* Результаты поиска */

.results article {
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
}
.results-img {
  width: 165px;
  display: inline-block;
  vertical-align: top;
}
.results-img img {
  width: 135px;
  height: 90px;
}
.results-info {
  width: 780px;
  display: inline-block;
  vertical-align: top;
}
.results-about {
  display: inline-block;
  vertical-align: top;
}
.results-info h1 {
  margin-top: -5px;
  margin-bottom: 5px;
  line-height: 26px;
}
.results-info-item {
  display: inline-block;
  vertical-align: top;
}
.results-info-item span {
  display: block;
  margin-bottom: 20px;
  line-height: 21px;
}
.results-info-item a {
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin-right: 6px;
  padding: 4px 17px;
  line-height: 21px;
}
.btn-results-blue {
  background: #81b3d2;
}
.btn-results-blue:active {
  background: #5496bd;
  opacity: 1;
  color: rgba(255, 255, 255, 0.3);
}
.btn-results-blue:hover {
  background: #669ec0;
}
.btn-results-brown {
  background: #766357;
}
.btn-results-brown:active {
  background: #503e33;
  opacity: 1;
  color: rgba(255, 255, 255, 0.3);
}
.btn-results-brown:hover {
  background: #604e43;
}
.results-rating {
  width: 110px;
  display: inline-block;
  vertical-align: top;
}
.ratings-stars {
  color: #81b3d2;
  letter-spacing: 6px;
  font-size: 21px;
  line-height: 21px;
  text-align: right;
  margin-top: -3px;
  margin-bottom: 45px;
  margin-right: -7px;
}
.ratings-stars-four::before {
  content: "\2605 \2605 \2605 \2605";
}
.ratings-stars-two::before {
  content: "\2605 \2605";
}
.ratings-stars-three::before {
  content: "\2605 \2605 \2605";
}
.rating {
  display: block;
  background: #f2f2f2;
  padding: 3px;
  text-align: center;
  line-height: 21px;
}
